.orderlist-title {
  width: 80%;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 20px;
  padding: 10px;
  background-color: pink;
}

.product-card {
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: cadetblue;
}

.product-show {
  display: flex;
  flex-direction: row; /* Ensure children are in a row */
  align-items: center; /* Vertically center align items */
}

.product-image {
  border-radius: 10px;
  width: 89px;
  height: 89px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow it to grow and take available space */
  padding: 0;
  margin: 0;
  background-color: beige;
}

.product-name {
  color: #471d06;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0;
}

.product-tags {
  color: #ffb415;
  font-weight: 700;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.product-price {
  color: #471d06;
  font-size: 15px !important;
  font-weight: 800;
}

.product-date {
  color: #000;
  font-family: Inter;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #ffb415;
  margin-top: 10px;
}

.product-actions {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.write-review,
.add {
  flex: 1;
  padding: 10px 10px;
  margin: 0 5px;
  color: #773d1e;
  font-size: 16px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.write-review {
  background-color: white;
  border: 1.5px solid #773d1e;
}

.write-review:hover {
  color: #ffc851;
  background-color: #773d1e;
}

.add {
  border: none;
  background-color: #ffc851;
}

.add:hover {
  color: #ffc851;
  background-color: #773d1e;
}
