.new-orderlist-title {
  width: 80%;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 20px -20px 20px !important;
}

.new-product-card {
  margin: -20px auto 15px auto;
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 14px !important;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.new-product-show {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 10px;
}

.new-product-image {
  border-radius: 10px;
  width: 89px;
  height: 89px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  margin-right: 15px;
}

.new-product-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 15px;
  margin: 0;
}

.new-product-name {
  color: #471d06;
  font-size: 13px !important;
  font-weight: 800;
  margin: 10px auto 20px auto;
  padding: 0;
  letter-spacing: -0.5px;
}

.new-product-tags {
  color: #ffb415;
  font-weight: 700;
  font-size: 11px !important;
}

.new-quantity-price {
  display: flex;
  align-items: center;
}

.new-product-price {
  color: #471d06;
  font-size: 16px !important;
  letter-spacing: -0.5px;
  line-height: 22px;
  font-weight: 800;
}

.new-product-line {
  color: #471d06;
  margin-right: 10px;
  margin-top: -2px;
  font-weight: 600;
  opacity: 30%;
}

.new-product-quantity {
  color: #471d06;
  font-size: 13px;
  font-weight: 800;
  margin-right: 10px;
}

.new-order-date {
  color: #000;
  font-family: Inter;
  font-size: 13px !important;
  font-weight: 900;
  margin: 35px 0px 20px 0px;
  padding-left: 30px;
}

.new-product-actions {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.new-write-review,
.new-add {
  flex: 1;
  padding: 10px 10px;
  margin: 0 5px;
  color: #773d1e;
  font-size: 16px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.new-write-review {
  background-color: white;
  border: 1.5px solid #773d1e;
}

.new-write-review:hover {
  color: #ffc851;
  background-color: #773d1e;
}

.new-add {
  border: none;
  background-color: #ffc851;
}

.new-add:hover {
  color: #ffc851;
  background-color: #773d1e;
}
